.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height= 417 
	width=540
}
.button {
	color: white;
	font-family: "Helvetica Neue";
	font-size: 50px;
	text-align: center;
	padding: 150px 110px;
	background-color: #5DBABF;
	border: none;
	border-radius: 12px;
 
}
.text{
	font-family: "Helvetica Neue";
}
#adds {
    margin-top: 200px;
}
#t01 {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	border-spacing: 10px;
	text-align: center;
	font-size: 25px;
	font-family: "Helvetica Neue";	
}
#t02 {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	border-spacing: 10px;
	text-align: center;
	font-size: 35px;
	font-family: "Helvetica Neue";	
}
#container {
	height: 100%;
	width: 100%;
	display: flex;
	margin-top: 200px;
}
#whiteSpace0 {
	width: 12.5%;
}
#leftThing {
	width: 25%;
}
#whiteSpace1 {
	width: 12.5%;
}
#middleSpace {
  width: 25%;
}
#whiteSpace2 {
	width: 12.5%;
}
#rightThing {
  width: 25%;
}