<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
		<title>Park 21 analítica</title>
	</head>
	<body>
		<div>
			<img title="Park21-logo" src="static/Park21.png" alt="Logo not available" class="center"/>
	 		<h2 style="font-size: 45px" class="text"><center> Esta es la información de los carros de los usuarios de la aplicación Park21</center></h2>
	 	</div>
		<div id="adds">
	 		<table id="t02">
  				<tr>
    				<th>Resultados del análisis de datos</th>
    				<th>Descripción del análisis</th>
  				</tr>
  				<tr>
    				<td><img src="static/brandsDistribution.png" height=800 width=750></img></td>
    				<td>Distribución de la cantidad de carros de una marca. </td>
  				</tr>
  				<tr>
    				<td><img src="static/modelsDistribution.png" height=800 width=750></img></td>
    				<td>Distribución de la cantidad de carros de un año. </td>
  				</tr>
  				<tr>
    				<td><img src="static/modelBrandDistribution.png" height=800 width=750></img></td>
    				<td>Distribución de la cantidad de carros de un modelo. </td>
  				</tr>
			</table>
		</div>