<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
		<title>Park 21 analítica</title>
	</head>
	<body>
	  	<img title="Park21-logo" src="static/Park21.png" alt="Logo not available" class="center"/>
	 	<h2  style="font-size: 60px" class="text"><center> Bienvenido al motor de analítica de Park21, por favor selecciona la categoría que deseas ver</center></h2>

	<div id="container">
		<div id="whiteSpace1">

  		</div>

  		<div id="leftThing">
    		<button type="button" class="button" onclick="window.location.href = 'usuarios';">Analítica de usuarios</button>
  		</div>

  		<div id="whiteSpace1">

  		</div>

  		<div id="middleSpace">
    		<button type="button" class="button" onclick="window.location.href = 'parqueaderos';">Analítica de parqueaderos</button>
  		</div>

  		<div id="whiteSpace1">
  			
  		</div>

  		<div id="rightThing">
   			<button type="button" class="button" onclick="window.location.href = 'carros';">Analítica de carros</button>
  		</div>

	</div>

			
