<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
		<title>Park 21 analítica</title>
	</head>
	<body>
		<div>
			<img title="Park21-logo" src="static/Park21.png" alt="Logo not available" class="center"/>
	 		<h2 style="font-size: 35px" class="text"><center> Esta es la información de los parqueaderos de la aplicación Park21</center></h2>
	 	</div>
	 	<div id="adds">
	 		<table id="t01">
  				<tr>
    				<th>Resultados del análisis de datos</th>
    				<th>Descripción del análisis</th>
  				</tr>
  				<tr>
    				<td><img src="static/transactionsPerParking.png" alt=" transacciones por parqueadero" height=800 width=750></img></td>
    				<td>Distribución de la cantidad de transacciones realizadas por <br> cada uno de los parqueaderos registrados en la aplicación.</td>
  				</tr>
  				<tr>
    				<td><img src="static/transactionsPerUserbyParking.png" height=800 width=750></img></td>
    				<td>Distribución de la cantidad de transacciones realizadas por usuario <br> en cada uno de los parqueaderos registrados en la aplicación.</td>
  				</tr>
			</table>
		</div>	